data/mp3_list.json
whisper.cpp/.gitignore
whisper.cpp/.gitmodules
whisper.cpp/AUTHORS
whisper.cpp/CMakeLists.txt
whisper.cpp/config.json
whisper.cpp/ggml-alloc.c
whisper.cpp/ggml-alloc.h
whisper.cpp/ggml-backend-impl.h
whisper.cpp/ggml-backend.c
whisper.cpp/ggml-backend.h
whisper.cpp/ggml-common.h
whisper.cpp/ggml-cuda.cu
whisper.cpp/ggml-cuda.h
whisper.cpp/ggml-impl.h
whisper.cpp/ggml-kompute.cpp
whisper.cpp/ggml-kompute.h
whisper.cpp/ggml-metal.h
whisper.cpp/ggml-metal.m
whisper.cpp/ggml-metal.metal
whisper.cpp/ggml-opencl.cpp
whisper.cpp/ggml-opencl.h
whisper.cpp/ggml-quants.c
whisper.cpp/ggml-quants.h
whisper.cpp/ggml-rpc.cpp
whisper.cpp/ggml-rpc.h
whisper.cpp/ggml-sycl.cpp
whisper.cpp/ggml-sycl.h
whisper.cpp/ggml-vulkan.cpp
whisper.cpp/ggml-vulkan.h
whisper.cpp/ggml.c
whisper.cpp/ggml.h
whisper.cpp/LICENSE
whisper.cpp/Makefile
whisper.cpp/output.wav
whisper.cpp/Package.swift
whisper.cpp/README_sycl.md
whisper.cpp/README.md
whisper.cpp/TheEndoftheVietnamWar.mp3
whisper.cpp/TheEndoftheVietnamWar.wav
whisper.cpp/transcript.srt
whisper.cpp/whisper-mel-cuda.cu
whisper.cpp/whisper-mel-cuda.hpp
whisper.cpp/whisper-mel.hpp
whisper.cpp/whisper.cpp
whisper.cpp/whisper.h
whisper.cpp/.devops/cublas.Dockerfile
whisper.cpp/.devops/main-cuda.Dockerfile
whisper.cpp/.devops/main.Dockerfile
whisper.cpp/.github/workflows/bindings-go.yml
whisper.cpp/.github/workflows/bindings-ruby.yml
whisper.cpp/.github/workflows/build.yml
whisper.cpp/.github/workflows/docker.yml
whisper.cpp/.github/workflows/examples.yml
whisper.cpp/bindings/CMakeLists.txt
whisper.cpp/bindings/go/.gitignore
whisper.cpp/bindings/go/doc.go
whisper.cpp/bindings/go/go.mod
whisper.cpp/bindings/go/go.sum
whisper.cpp/bindings/go/LICENSE
whisper.cpp/bindings/go/Makefile
whisper.cpp/bindings/go/params.go
whisper.cpp/bindings/go/README.md
whisper.cpp/bindings/go/whisper_test.go
whisper.cpp/bindings/go/whisper.go
whisper.cpp/bindings/go/examples/go-model-download/context.go
whisper.cpp/bindings/go/examples/go-model-download/main.go
whisper.cpp/bindings/go/examples/go-whisper/color.go
whisper.cpp/bindings/go/examples/go-whisper/flags.go
whisper.cpp/bindings/go/examples/go-whisper/main.go
whisper.cpp/bindings/go/examples/go-whisper/process.go
whisper.cpp/bindings/go/pkg/whisper/consts.go
whisper.cpp/bindings/go/pkg/whisper/context_test.go
whisper.cpp/bindings/go/pkg/whisper/context.go
whisper.cpp/bindings/go/pkg/whisper/doc.go
whisper.cpp/bindings/go/pkg/whisper/interface.go
whisper.cpp/bindings/go/pkg/whisper/model.go
whisper.cpp/bindings/go/samples/jfk.wav
whisper.cpp/bindings/java/build.gradle
whisper.cpp/bindings/java/gradle.properties
whisper.cpp/bindings/java/gradlew
whisper.cpp/bindings/java/gradlew.bat
whisper.cpp/bindings/java/README.md
whisper.cpp/bindings/java/settings.gradle
whisper.cpp/bindings/java/gradle/wrapper/gradle-wrapper.jar
whisper.cpp/bindings/java/gradle/wrapper/gradle-wrapper.properties
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/WhisperContext.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/WhisperCpp.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/WhisperCppJnaLibrary.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/bean/WhisperSegment.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/callbacks/WhisperEncoderBeginCallback.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/callbacks/WhisperLogitsFilterCallback.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/callbacks/WhisperNewSegmentCallback.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/callbacks/WhisperProgressCallback.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/ggml/GgmlTensor.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/ggml/GgmlType.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/model/EModel.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/model/WhisperModel.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/model/WhisperModelLoader.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/model/WhisperState.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/model/WhisperTokenData.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/BeamSearchParams.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/CBool.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/GreedyParams.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/WhisperContextParams.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/WhisperFilters.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/WhisperFullParams.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/WhisperHParams.java
whisper.cpp/bindings/java/src/main/java/io/github/ggerganov/whispercpp/params/WhisperSamplingStrategy.java
whisper.cpp/bindings/java/src/test/java/io/github/ggerganov/whispercpp/WhisperCppTest.java
whisper.cpp/bindings/java/src/test/java/io/github/ggerganov/whispercpp/WhisperJnaLibraryTest.java
whisper.cpp/bindings/javascript/.gitignore
whisper.cpp/bindings/javascript/CMakeLists.txt
whisper.cpp/bindings/javascript/emscripten.cpp
whisper.cpp/bindings/javascript/libwhisper.worker.js
whisper.cpp/bindings/javascript/package-tmpl.json
whisper.cpp/bindings/javascript/package.json
whisper.cpp/bindings/javascript/README.md
whisper.cpp/bindings/javascript/whisper.js
whisper.cpp/bindings/ruby/Rakefile
whisper.cpp/bindings/ruby/whispercpp.gemspec
whisper.cpp/bindings/ruby/ext/.gitignore
whisper.cpp/bindings/ruby/ext/extconf.rb
whisper.cpp/bindings/ruby/ext/ggml-backend-impl.h
whisper.cpp/bindings/ruby/ext/ggml-backend.c
whisper.cpp/bindings/ruby/ext/ggml-backend.h
whisper.cpp/bindings/ruby/ext/ggml-common.h
whisper.cpp/bindings/ruby/ext/ggml-cuda.h
whisper.cpp/bindings/ruby/ext/ggml-impl.h
whisper.cpp/bindings/ruby/ext/ggml-kompute.h
whisper.cpp/bindings/ruby/ext/ggml-metal.h
whisper.cpp/bindings/ruby/ext/ggml-opencl.h
whisper.cpp/bindings/ruby/ext/ggml-quants.c
whisper.cpp/bindings/ruby/ext/ggml-quants.h
whisper.cpp/bindings/ruby/ext/ggml-sycl.h
whisper.cpp/bindings/ruby/ext/ggml-vulkan.h
whisper.cpp/bindings/ruby/ext/ruby_whisper.cpp
whisper.cpp/bindings/ruby/ext/ruby_whisper.h
whisper.cpp/bindings/ruby/tests/test_whisper.rb
whisper.cpp/cmake/BuildTypes.cmake
whisper.cpp/cmake/DefaultTargetOptions.cmake
whisper.cpp/cmake/FindFFmpeg.cmake
whisper.cpp/cmake/GitVars.cmake
whisper.cpp/coreml/whisper-decoder-impl.h
whisper.cpp/coreml/whisper-decoder-impl.m
whisper.cpp/coreml/whisper-encoder-impl.h
whisper.cpp/coreml/whisper-encoder-impl.m
whisper.cpp/coreml/whisper-encoder.h
whisper.cpp/coreml/whisper-encoder.mm
whisper.cpp/examples/CMakeLists.txt
whisper.cpp/examples/common-ggml.cpp
whisper.cpp/examples/common-ggml.h
whisper.cpp/examples/common-sdl.cpp
whisper.cpp/examples/common-sdl.h
whisper.cpp/examples/common.cpp
whisper.cpp/examples/common.h
whisper.cpp/examples/dr_wav.h
whisper.cpp/examples/ffmpeg-transcode.cpp
whisper.cpp/examples/generate-karaoke.sh
whisper.cpp/examples/grammar-parser.cpp
whisper.cpp/examples/grammar-parser.h
whisper.cpp/examples/helpers.js
whisper.cpp/examples/json.hpp
whisper.cpp/examples/livestream.sh
whisper.cpp/examples/twitch.sh
whisper.cpp/examples/yt-wsp.sh
whisper.cpp/examples/addon.node/.gitignore
whisper.cpp/examples/addon.node/addon.cpp
whisper.cpp/examples/addon.node/CMakeLists.txt
whisper.cpp/examples/addon.node/index.js
whisper.cpp/examples/addon.node/package.json
whisper.cpp/examples/addon.node/README.md
whisper.cpp/examples/addon.node/__test__/whisper.spec.js
whisper.cpp/examples/bench/bench.cpp
whisper.cpp/examples/bench/CMakeLists.txt
whisper.cpp/examples/bench/README.md
whisper.cpp/examples/bench.wasm/CMakeLists.txt
whisper.cpp/examples/bench.wasm/emscripten.cpp
whisper.cpp/examples/bench.wasm/index-tmpl.html
whisper.cpp/examples/bench.wasm/README.md
whisper.cpp/examples/command/CMakeLists.txt
whisper.cpp/examples/command/command.cpp
whisper.cpp/examples/command/commands.txt
whisper.cpp/examples/command/README.md
whisper.cpp/examples/command.wasm/CMakeLists.txt
whisper.cpp/examples/command.wasm/emscripten.cpp
whisper.cpp/examples/command.wasm/index-tmpl.html
whisper.cpp/examples/command.wasm/README.md
whisper.cpp/examples/lsp/CMakeLists.txt
whisper.cpp/examples/lsp/lsp.cpp
whisper.cpp/examples/lsp/README.md
whisper.cpp/examples/lsp/whisper.vim
whisper.cpp/examples/main/CMakeLists.txt
whisper.cpp/examples/main/main.cpp
whisper.cpp/examples/main/README.md
whisper.cpp/examples/python/test_whisper_processor.py
whisper.cpp/examples/python/whisper_processor.py
whisper.cpp/examples/quantize/CMakeLists.txt
whisper.cpp/examples/quantize/quantize.cpp
whisper.cpp/examples/quantize/README.md
whisper.cpp/examples/server/CMakeLists.txt
whisper.cpp/examples/server/httplib.h
whisper.cpp/examples/server/README.md
whisper.cpp/examples/server/server.cpp
whisper.cpp/examples/stream/CMakeLists.txt
whisper.cpp/examples/stream/README.md
whisper.cpp/examples/stream/stream.cpp
whisper.cpp/examples/stream.wasm/CMakeLists.txt
whisper.cpp/examples/stream.wasm/emscripten.cpp
whisper.cpp/examples/stream.wasm/index-tmpl.html
whisper.cpp/examples/stream.wasm/README.md
whisper.cpp/examples/sycl/build.sh
whisper.cpp/examples/sycl/CMakeLists.txt
whisper.cpp/examples/sycl/ls-sycl-device.cpp
whisper.cpp/examples/sycl/README.md
whisper.cpp/examples/sycl/run-whisper.sh
whisper.cpp/examples/talk/.gitignore
whisper.cpp/examples/talk/CMakeLists.txt
whisper.cpp/examples/talk/eleven-labs.py
whisper.cpp/examples/talk/gpt-2.cpp
whisper.cpp/examples/talk/gpt-2.h
whisper.cpp/examples/talk/README.md
whisper.cpp/examples/talk/speak
whisper.cpp/examples/talk/speak.bat
whisper.cpp/examples/talk/speak.ps1
whisper.cpp/examples/talk/talk.cpp
whisper.cpp/examples/talk-llama/.gitignore
whisper.cpp/examples/talk-llama/CMakeLists.txt
whisper.cpp/examples/talk-llama/eleven-labs.py
whisper.cpp/examples/talk-llama/llama.cpp
whisper.cpp/examples/talk-llama/llama.h
whisper.cpp/examples/talk-llama/README.md
whisper.cpp/examples/talk-llama/speak
whisper.cpp/examples/talk-llama/speak.bat
whisper.cpp/examples/talk-llama/speak.ps1
whisper.cpp/examples/talk-llama/talk-llama.cpp
whisper.cpp/examples/talk-llama/unicode-data.cpp
whisper.cpp/examples/talk-llama/unicode-data.h
whisper.cpp/examples/talk-llama/unicode.cpp
whisper.cpp/examples/talk-llama/unicode.h
whisper.cpp/examples/talk-llama/prompts/talk-alpaca.txt
whisper.cpp/examples/talk.wasm/CMakeLists.txt
whisper.cpp/examples/talk.wasm/emscripten.cpp
whisper.cpp/examples/talk.wasm/gpt-2.cpp
whisper.cpp/examples/talk.wasm/gpt-2.h
whisper.cpp/examples/talk.wasm/index-tmpl.html
whisper.cpp/examples/talk.wasm/README.md
whisper.cpp/examples/wchess/CMakeLists.txt
whisper.cpp/examples/wchess/README.md
whisper.cpp/examples/wchess/libwchess/Chessboard.cpp
whisper.cpp/examples/wchess/libwchess/Chessboard.h
whisper.cpp/examples/wchess/libwchess/CMakeLists.txt
whisper.cpp/examples/wchess/libwchess/test-chessboard.cpp
whisper.cpp/examples/wchess/libwchess/WChess.cpp
whisper.cpp/examples/wchess/libwchess/WChess.h
whisper.cpp/examples/wchess/wchess.cmd/CMakeLists.txt
whisper.cpp/examples/wchess/wchess.cmd/wchess.cmd.cpp
whisper.cpp/examples/wchess/wchess.wasm/CMakeLists.txt
whisper.cpp/examples/wchess/wchess.wasm/index-tmpl.html
whisper.cpp/examples/wchess/wchess.wasm/jquery-3.7.1.min.js
whisper.cpp/examples/wchess/wchess.wasm/wchess.wasm.cpp
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/css/chessboard-1.0.0.css
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/css/chessboard-1.0.0.min.css
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/bB.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/bK.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/bN.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/bP.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/bQ.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/bR.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/wB.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/wK.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/wN.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/wP.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/wQ.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/img/chesspieces/wikipedia/wR.png
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/js/chessboard-1.0.0.js
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/js/chessboard-1.0.0.min.js
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/js/chessboard-1.0.0/CHANGELOG.md
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/js/chessboard-1.0.0/LICENSE.md
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/js/chessboard-1.0.0/package.json
whisper.cpp/examples/wchess/wchess.wasm/chessboardjs-1.0.0/js/chessboard-1.0.0/README.md
whisper.cpp/examples/whisper.android/.gitignore
whisper.cpp/examples/whisper.android/build.gradle
whisper.cpp/examples/whisper.android/gradle.properties
whisper.cpp/examples/whisper.android/gradlew
whisper.cpp/examples/whisper.android/gradlew.bat
whisper.cpp/examples/whisper.android/README.md
whisper.cpp/examples/whisper.android/settings.gradle
whisper.cpp/examples/whisper.android/app/.gitignore
whisper.cpp/examples/whisper.android/app/build.gradle
whisper.cpp/examples/whisper.android/app/proguard-rules.pro
whisper.cpp/examples/whisper.android/app/src/androidTest/java/com/whispercppdemo/ExampleInstrumentedTest.kt
whisper.cpp/examples/whisper.android/app/src/main/AndroidManifest.xml
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/MainActivity.kt
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/media/RiffWaveHelper.kt
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/recorder/Recorder.kt
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/main/MainScreen.kt
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/main/MainScreenViewModel.kt
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/theme/Color.kt
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/theme/Theme.kt
whisper.cpp/examples/whisper.android/app/src/main/java/com/whispercppdemo/ui/theme/Type.kt
whisper.cpp/examples/whisper.android/app/src/main/res/drawable/ic_launcher_background.xml
whisper.cpp/examples/whisper.android/app/src/main/res/drawable/ic_launcher_foreground.xml
whisper.cpp/examples/whisper.android/app/src/main/res/mipmap-anydpi/ic_launcher.xml
whisper.cpp/examples/whisper.android/app/src/main/res/values/strings.xml
whisper.cpp/examples/whisper.android/app/src/main/res/values/themes.xml
whisper.cpp/examples/whisper.android/app/src/main/res/xml/backup_rules.xml
whisper.cpp/examples/whisper.android/app/src/main/res/xml/data_extraction_rules.xml
whisper.cpp/examples/whisper.android/app/src/test/java/com/whispercppdemo/ExampleUnitTest.kt
whisper.cpp/examples/whisper.android/gradle/wrapper/gradle-wrapper.jar
whisper.cpp/examples/whisper.android/gradle/wrapper/gradle-wrapper.properties
whisper.cpp/examples/whisper.android/lib/.gitignore
whisper.cpp/examples/whisper.android/lib/build.gradle
whisper.cpp/examples/whisper.android/lib/src/main/AndroidManifest.xml
whisper.cpp/examples/whisper.android/lib/src/main/java/com/whispercpp/whisper/LibWhisper.kt
whisper.cpp/examples/whisper.android/lib/src/main/java/com/whispercpp/whisper/WhisperCpuConfig.kt
whisper.cpp/examples/whisper.android/lib/src/main/jni/whisper/CMakeLists.txt
whisper.cpp/examples/whisper.android/lib/src/main/jni/whisper/jni.c
whisper.cpp/examples/whisper.android.java/.gitignore
whisper.cpp/examples/whisper.android.java/build.gradle
whisper.cpp/examples/whisper.android.java/gradle.properties
whisper.cpp/examples/whisper.android.java/gradlew
whisper.cpp/examples/whisper.android.java/gradlew.bat
whisper.cpp/examples/whisper.android.java/README.md
whisper.cpp/examples/whisper.android.java/settings.gradle
whisper.cpp/examples/whisper.android.java/README_files/1.jpg
whisper.cpp/examples/whisper.android.java/app/.gitignore
whisper.cpp/examples/whisper.android.java/app/build.gradle
whisper.cpp/examples/whisper.android.java/app/proguard-rules.pro
whisper.cpp/examples/whisper.android.java/app/src/androidTest/java/com/litongjava/whisper/android/java/ExampleInstrumentedTest.java
whisper.cpp/examples/whisper.android.java/app/src/main/AndroidManifest.xml
whisper.cpp/examples/whisper.android.java/app/src/main/assets/logback.xml
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/MainActivity.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/app/App.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/bean/WhisperSegment.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/services/WhisperService.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/single/LocalWhisper.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/task/LoadModelTask.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/task/TranscriptionTask.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/utils/AssetUtils.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/litongjava/whisper/android/java/utils/WaveEncoder.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/whispercpp/java/whisper/CpuInfo.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/whispercpp/java/whisper/WhisperContext.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/whispercpp/java/whisper/WhisperCpuConfig.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/whispercpp/java/whisper/WhisperLib.java
whisper.cpp/examples/whisper.android.java/app/src/main/java/com/whispercpp/java/whisper/WhisperUtils.java
whisper.cpp/examples/whisper.android.java/app/src/main/jni/whisper/CMakeLists.txt
whisper.cpp/examples/whisper.android.java/app/src/main/jni/whisper/jni.c
whisper.cpp/examples/whisper.android.java/app/src/main/res/drawable/ic_launcher_background.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/layout/activity_main.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-hdpi/ic_launcher.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-mdpi/ic_launcher.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-xhdpi/ic_launcher.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
whisper.cpp/examples/whisper.android.java/app/src/main/res/values/colors.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/values/strings.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/values/themes.xml
whisper.cpp/examples/whisper.android.java/app/src/main/res/values-night/themes.xml
whisper.cpp/examples/whisper.android.java/app/src/test/java/com/litongjava/whisper/android/java/ExampleUnitTest.java
whisper.cpp/examples/whisper.android.java/gradle/wrapper/gradle-wrapper.jar
whisper.cpp/examples/whisper.android.java/gradle/wrapper/gradle-wrapper.properties
whisper.cpp/examples/whisper.nvim/README.md
whisper.cpp/examples/whisper.nvim/whisper.nvim
whisper.cpp/examples/whisper.objc/README.md
whisper.cpp/examples/whisper.objc/whisper.objc/AppDelegate.h
whisper.cpp/examples/whisper.objc/whisper.objc/AppDelegate.m
whisper.cpp/examples/whisper.objc/whisper.objc/Info.plist
whisper.cpp/examples/whisper.objc/whisper.objc/main.m
whisper.cpp/examples/whisper.objc/whisper.objc/SceneDelegate.h
whisper.cpp/examples/whisper.objc/whisper.objc/SceneDelegate.m
whisper.cpp/examples/whisper.objc/whisper.objc/ViewController.h
whisper.cpp/examples/whisper.objc/whisper.objc/ViewController.m
whisper.cpp/examples/whisper.objc/whisper.objc/Assets.xcassets/Contents.json
whisper.cpp/examples/whisper.objc/whisper.objc/Assets.xcassets/AccentColor.colorset/Contents.json
whisper.cpp/examples/whisper.objc/whisper.objc/Assets.xcassets/AppIcon.appiconset/Contents.json
whisper.cpp/examples/whisper.objc/whisper.objc/Base.lproj/LaunchScreen.storyboard
whisper.cpp/examples/whisper.objc/whisper.objc/Base.lproj/Main.storyboard
whisper.cpp/examples/whisper.objc/whisper.objc.xcodeproj/project.pbxproj
whisper.cpp/examples/whisper.objc/whisper.objc.xcodeproj/project.xcworkspace/contents.xcworkspacedata
whisper.cpp/examples/whisper.objc/whisper.objc.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
whisper.cpp/examples/whisper.swiftui/.gitignore
whisper.cpp/examples/whisper.swiftui/README.md
whisper.cpp/examples/whisper.swiftui/whisper.cpp.swift/LibWhisper.swift
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/WhisperCppDemoApp.swift
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Models/WhisperState.swift
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Resources/models/.gitignore
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Resources/samples/.gitignore
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/WhisperCppDemo.entitlements
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Assets.xcassets/Contents.json
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Assets.xcassets/AccentColor.colorset/Contents.json
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Assets.xcassets/AppIcon.appiconset/Contents.json
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Supporting files/Preview Content/Preview Assets.xcassets/Contents.json
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/UI/ContentView.swift
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Utils/Recorder.swift
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.demo/Utils/RiffWaveUtils.swift
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/.gitignore
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/project.pbxproj
whisper.cpp/examples/whisper.swiftui/whisper.swiftui.xcodeproj/project.xcworkspace/.gitignore
whisper.cpp/examples/whisper.wasm/CMakeLists.txt
whisper.cpp/examples/whisper.wasm/emscripten.cpp
whisper.cpp/examples/whisper.wasm/index-tmpl.html
whisper.cpp/examples/whisper.wasm/README.md
whisper.cpp/ggml-cuda/acc.cu
whisper.cpp/ggml-cuda/acc.cuh
whisper.cpp/ggml-cuda/arange.cu
whisper.cpp/ggml-cuda/arange.cuh
whisper.cpp/ggml-cuda/argsort.cu
whisper.cpp/ggml-cuda/argsort.cuh
whisper.cpp/ggml-cuda/binbcast.cu
whisper.cpp/ggml-cuda/binbcast.cuh
whisper.cpp/ggml-cuda/clamp.cu
whisper.cpp/ggml-cuda/clamp.cuh
whisper.cpp/ggml-cuda/common.cuh
whisper.cpp/ggml-cuda/concat.cu
whisper.cpp/ggml-cuda/concat.cuh
whisper.cpp/ggml-cuda/convert.cu
whisper.cpp/ggml-cuda/convert.cuh
whisper.cpp/ggml-cuda/cpy.cu
whisper.cpp/ggml-cuda/cpy.cuh
whisper.cpp/ggml-cuda/dequantize.cuh
whisper.cpp/ggml-cuda/diagmask.cu
whisper.cpp/ggml-cuda/diagmask.cuh
whisper.cpp/ggml-cuda/dmmv.cu
whisper.cpp/ggml-cuda/dmmv.cuh
whisper.cpp/ggml-cuda/fattn-common.cuh
whisper.cpp/ggml-cuda/fattn-vec-f16.cu
whisper.cpp/ggml-cuda/fattn-vec-f16.cuh
whisper.cpp/ggml-cuda/fattn-vec-f32.cu
whisper.cpp/ggml-cuda/fattn-vec-f32.cuh
whisper.cpp/ggml-cuda/fattn.cu
whisper.cpp/ggml-cuda/fattn.cuh
whisper.cpp/ggml-cuda/getrows.cu
whisper.cpp/ggml-cuda/getrows.cuh
whisper.cpp/ggml-cuda/im2col.cu
whisper.cpp/ggml-cuda/im2col.cuh
whisper.cpp/ggml-cuda/mmq.cu
whisper.cpp/ggml-cuda/mmq.cuh
whisper.cpp/ggml-cuda/mmvq.cu
whisper.cpp/ggml-cuda/mmvq.cuh
whisper.cpp/ggml-cuda/norm.cu
whisper.cpp/ggml-cuda/norm.cuh
whisper.cpp/ggml-cuda/pad.cu
whisper.cpp/ggml-cuda/pad.cuh
whisper.cpp/ggml-cuda/pool2d.cu
whisper.cpp/ggml-cuda/pool2d.cuh
whisper.cpp/ggml-cuda/quantize.cu
whisper.cpp/ggml-cuda/quantize.cuh
whisper.cpp/ggml-cuda/rope.cu
whisper.cpp/ggml-cuda/rope.cuh
whisper.cpp/ggml-cuda/scale.cu
whisper.cpp/ggml-cuda/scale.cuh
whisper.cpp/ggml-cuda/softmax.cu
whisper.cpp/ggml-cuda/softmax.cuh
whisper.cpp/ggml-cuda/sumrows.cu
whisper.cpp/ggml-cuda/sumrows.cuh
whisper.cpp/ggml-cuda/tsembd.cu
whisper.cpp/ggml-cuda/tsembd.cuh
whisper.cpp/ggml-cuda/unary.cu
whisper.cpp/ggml-cuda/unary.cuh
whisper.cpp/ggml-cuda/upscale.cu
whisper.cpp/ggml-cuda/upscale.cuh
whisper.cpp/ggml-cuda/vecdotq.cuh
whisper.cpp/grammars/assistant.gbnf
whisper.cpp/grammars/chess.gbnf
whisper.cpp/grammars/colors.gbnf
whisper.cpp/models/.gitignore
whisper.cpp/models/convert-h5-to-coreml.py
whisper.cpp/models/convert-h5-to-ggml.py
whisper.cpp/models/convert-pt-to-ggml.py
whisper.cpp/models/convert-whisper-to-coreml.py
whisper.cpp/models/convert-whisper-to-openvino.py
whisper.cpp/models/download-coreml-model.sh
whisper.cpp/models/download-ggml-model.cmd
whisper.cpp/models/download-ggml-model.sh
whisper.cpp/models/generate-coreml-interface.sh
whisper.cpp/models/generate-coreml-model.sh
whisper.cpp/models/ggml_to_pt.py
whisper.cpp/models/README.md
whisper.cpp/models/requirements-coreml.txt
whisper.cpp/models/requirements-openvino.txt
whisper.cpp/openvino/whisper-openvino-encoder.cpp
whisper.cpp/openvino/whisper-openvino-encoder.h
whisper.cpp/samples/jfk.mp3
whisper.cpp/scripts/bench-all-gg.txt
whisper.cpp/scripts/bench-all.sh
whisper.cpp/scripts/bench-wts.sh
whisper.cpp/scripts/bench.py
whisper.cpp/scripts/convert-all.sh
whisper.cpp/scripts/deploy-wasm.sh
whisper.cpp/scripts/gen-authors.sh
whisper.cpp/scripts/quantize-all.sh
whisper.cpp/scripts/sha-all.sh
whisper.cpp/scripts/sync-ggml-am.sh
whisper.cpp/scripts/sync-ggml.last
whisper.cpp/scripts/sync-ggml.sh
whisper.cpp/scripts/sync-llama.sh
whisper.cpp/spm-headers/ggml.h
whisper.cpp/spm-headers/whisper.h
whisper.cpp/tests/.gitignore
whisper.cpp/tests/CMakeLists.txt
whisper.cpp/tests/en-0-ref.txt
whisper.cpp/tests/en-1-ref.txt
whisper.cpp/tests/en-2-ref.txt
whisper.cpp/tests/es-0-ref.txt
whisper.cpp/tests/run-tests.sh
whisper.cpp/tests/test-whisper.js
transcripts/5-meo-msbt final patreon.ass
transcripts/5-meo-msbt final patreon.srt
transcripts/audio - copy.srt
transcripts/audio.ass
transcripts/audio.srt
transcripts/newtest.ass
transcripts/newtest.srt
setup.ps1
transcripter.code-workspace
launch.sh
data/whisper_cpp_path.txt
transcripts/audio - Copy.ass
transcripts/reallyreallylongtestfilenametestfile.wav
MP3ScriptRoller.code-workspace